---
import "@fontsource/raleway/100.css";
import "@fontsource/raleway/500.css";
import "@styles/globals.css";
import { SEO } from "astro-seo";
import { getImage } from "@astrojs/image";
import image from "@images/image.png";

const title = "Akshit Kr Nagpal | Software Engineer";
const description =
  "My name is Akshit Kr Nagpal and I've been a self-taught Software Engineer for about a decade now.";
const url = "https://www.akshitkrnagpal.com";
const keywords = [
  "Akshit",
  "Skilled software engineer",
  "Next.js",
  "Next.js development",
  "full-stack developer",
  "open-source",
  "website development",
  "software development",
  "code quality",
  "fast-paced",
];
const twitterHandle = "@akshitkrnagpal";
const { src } = await getImage({
  src: image,
  aspectRatio: 1.91 / 1,
  alt: "Akshit Kr Nagpal",
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      canonical={url}
      title={title}
      description={description}
      openGraph={{
        basic: {
          type: "website",
          title,
          url,
          image: `${url}${src}`,
        },
      }}
      extend={{
        meta: [
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { name: "twitter:image", content: `${url}${src}` },
          { name: "twitter:image:alt", content: title },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:site", content: twitterHandle },
          { name: "twitter:creator", content: twitterHandle },
          { name: "keywords", content: keywords.join(", ") },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
